body {
    background-image: url('background.jpg');
    background-size: cover;
}
.text{
    font-size: 30px;
    font-family: 'Montserrat';
    color: white;
}
.titleLogo{
    color: white;
    font-family: "Montserrat";
    font-size: 30px;
    margin-top: 50px;
    margin-left: 100px;
}
.image{
    position: relative;
    left: 2px;
}
#joinRoom{
    position: absolute;
    right: 100px;
    top: 50px;
    width: 350px;
    height: 75px;
    background-color: transparent;
    border: 2px rgb(66, 60, 60);
    border-radius: 15px;
    border-style: solid;
    font-family: 'Montserrat';
    font-size: 30px;
    color: white;
}
#joinRoom:hover{
   background-color: rgba(66, 54, 54, 0.329);
}
.textBox{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 25px;
    border: 2px solid rgb(66, 60, 60); 
    background: rgba(31, 27, 27, 0.686);
    width: 800px;
    height: 400px; 
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 65px;
}
.formRoom{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 15px;
    border: 2px solid rgb(66, 60, 60);
    background-color: transparent;
    width: 400px;
    height: 75px;
    padding-left: 20px;
    color: white;
}
.formButton:hover{
    background-color: rgba(66, 54, 54, 0.329);
}
.messageDiv{
    width: 100%;
    height: 60px;
    background: rgb(30, 28, 28);
    padding: 0px;
    margin: 0px;
    position: absolute;
    bottom: 0px;
}
.messageBox{
    display: flex;
    justify-content: left;
    align-items: left;

    font-size: 20px;
    font-family: 'Montserrat';
    color: white;
    
    background: rgba(31, 27, 27, 0.686);
    width: 100%;
    height: 500px; 
    text-align: left;

    position: absolute;
    bottom: -210px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.messageInput{
    border-radius: 5px;
    border: 2px solid rgb(66, 60, 60);
    background-color: transparent;
    width: 500px;
    height: 50px;
    padding-left: 20px;
    color: white;

    position: absolute;
    top: 5px;
    left: 5px;
}
